.quizBody {
    padding: 20px;
}

.answerButton {
    margin-bottom: 10px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px;
    background-color: #673ab7;
    color: white;
    border: none;
    border-radius: 10px;
}

.difficulty-btn {
    margin-right: 10px;
}

.quiz-section {
    margin-bottom: 10px;
}